@font-face {
    font-family: Gotham;
    font-weight: 400;
    src: url("/font/Gotham-Book.otf") format("opentype");
}
@font-face {
    font-family: Gotham;
    font-weight: 500;
    src: url("/font/Gotham-Medium.otf") format("opentype");
}
@font-face {
    font-family: Gotham;
    font-weight: 700;
    src: url("/font/Gotham-Bold.otf") format("opentype");
}

:root {
	font-family: Gotham, Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--white: #ffffff;
	--black: #000000;
	--chico-red: #A32036;
	--cornerstone-gray: #75787B;
	--dusk-blue: #043546;
	--canyon-stone: #D0D1C9;
	--terracotta-orange: #DE5750;
	--orchard-green: #474C21;
	--golden-hour-yellow: #EBA70E;
	--accent-color: var(--chico-red);
	--background-without-opacity: rgba(255, 255, 255, 0.7);

	/* Light theme */
	--background-color: var(--white);
	--heading-color: #4f4f4f;
	--text-color: #444444;
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--background-color: #22252a;
		--heading-color: #ebebeb;
		--text-color: #b5bccc;
	}
} */

body {
	min-height: 100vh;
	margin: 0;
	background-color: var(--background-color);
	color: var(--text-color)
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

h1,
h2,
p {
	font-weight: 400;
	color: var(--heading-color);
}

p {
	line-height: 1.5;
}

a {
	color: var(--accent-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 1.75rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
}

h2 {
	font-weight: 500;
	font-size: 1.5rem;
}

h3 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--text-color);
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

input {
    accent-color: var(--chico-red);
}

input[type=number]::-webkit-inner-spin-button {
	opacity: 1;
	cursor: pointer;
}